In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ae=pd.read_csv('aggregate-expenditure.csv')

In [3]:
ae.head()

,States,1980-81,1981-82,1982-83,1983-84,1984-85,1985-86,1986-87,1987-88,1988-89,...,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09(RE),2009-10(BE)
0,All States,22664,25169,28742,33541,39857,44867,51786,59872,67078,...,339835,368680,410249,514302,553428,561682,657280,752324,940423,1055778
1,Andhra Pradesh,1610,1831,1933,2588,3119,3413,4068,4294,5223,...,28119,31074,34373,40120,47153,48306,56648,74875,90228,100990
2,Arunachal Pradesh,...,...,...,...,...,...,251,348,326,...,1206,1381,1363,2192,2085,2437,2786,3068,4874,4571
3,Assam,758,618,691,942,1165,1207,1586,1794,1855,...,7631,8550,8936,10596,14745,12088,13485,15150,26389,34936
4,Bihar,1791,1871,1940,2144,2408,2966,3360,3914,4324,...,16946,14869,17752,19134,20055,22568,27136,31573,45508,47446

In [4]:
ae

,States,1980-81,1981-82,1982-83,1983-84,1984-85,1985-86,1986-87,1987-88,1988-89,...,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09(RE),2009-10(BE)
0,All States,22664,25169,28742,33541,39857,44867,51786,59872,67078,...,339835,368680,410249,514302,553428,561682,657280,752324,940423,1055778
1,Andhra Pradesh,1610,1831,1933,2588,3119,3413,4068,4294,5223,...,28119,31074,34373,40120,47153,48306,56648,74875,90228,100990
2,Arunachal Pradesh,...,...,...,...,...,...,251,348,326,...,1206,1381,1363,2192,2085,2437,2786,3068,4874,4571
3,Assam,758,618,691,942,1165,1207,1586,1794,1855,...,7631,8550,8936,10596,14745,12088,13485,15150,26389,34936
4,Bihar,1791,1871,1940,2144,2408,2966,3360,3914,4324,...,16946,14869,17752,19134,20055,22568,27136,31573,45508,47446
5,Chhattisgarh,...,...,...,...,...,...,...,...,...,...,1917,5624,6822,8951,9647,9725,11991,15029,20234,22820
6,Goa,...,...,...,...,...,...,255,258,284,...,1962,2353,2401,2416,2541,2849,3176,3559,4881,5719
7,Gujarat,1442,1565,1949,2178,2463,2625,3323,4089,4374,...,27175,25651,26921,32986,34900,34235,39200,42681,52800,57417
8,Haryana,607,696,917,960,1120,1315,1509,1663,1879,...,9159,10728,10582,15122,14442,14830,19638,22079,26826,32445
9,Himachal Pradesh,338,297,353,385,479,588,648,805,985,...,5315,5670,6616,8096,8034,8587,10091,10614,12931,13075
10,Jammu and Kashmir,428,548,504,620,747,889,989,1269,1404,...,7829,8050,8738,8817,11127,13467,13873,17046,18750,22378
11,Jharkhand,...,...,...,...,...,...,...,...,...,...,...,7934,9809,9738,11635,13417,15726,18360,20641,22992
12,Karnataka,1302,1409,1739,2002,2615,2894,3069,3437,3778,...,19664,21938,24074,29267,34246,34973,44085,48031,54178,61064
13,Kerala,855,1086,996,1322,1572,1969,2162,2251,2521,...,13149,13132,16967,19769,20276,21115,23159,28692,32990,36031
14,Madhya Pradesh,1590,1677,1938,2324,2522,2916,3349,3932,4596,...,16924,16960,18989,23923,29413,28975,30217,35265,42239,48735
15,Maharashtra,2613,3088,3585,4244,5063,5732,6412,6929,8102,...,42208,42480,47217,61034,72668,68677,75841,80240,102557,119762
16,Manipur,159,128,137,158,223,247,299,319,393,...,1381,2117,2157,2320,2600,2743,3626,3720,4742,4529
17,Meghalaya,102,101,117,139,161,188,230,264,318,...,1424,1395,1589,1770,2070,2008,2320,2771,3973,4582
18,Mizoram,...,...,...,...,...,177,55,306,287,...,1288,1334,1405,1826,1817,2172,2295,2559,3199,3487
19,NCT Delhi,...,...,...,...,...,...,...,...,...,...,7362,8631,10214,11720,12875,11142,12966,18160,21118,23043
20,Nagaland,164,132,166,215,202,272,344,436,457,...,1835,2019,1917,2384,2276,2809,3085,3563,4389,4777
21,Orissa,877,814,1191,997,1281,1410,1730,1990,2261,...,11047,12065,13267,15565,15886,15746,19346,22844,31375,32798
22,Puducherry,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2173,2387,2588,3681,4108
23,Punjab,817,996,1122,1434,1726,1963,1829,2623,2666,...,14111,15692,17337,20335,20994,20453,26297,26519,32812,35684
24,Rajasthan,1120,1360,1419,1585,1838,2116,2557,3384,3415,...,17494,18995,21542,25869,28907,27220,31856,37757,43459,49737
25,Sikkim,43,45,47,67,76,104,115,139,164,...,947,1909,2132,1477,2161,2146,2253,2820,3395,3533
26,Tamil Nadu,1686,2006,2292,2752,2950,3309,3612,4196,4617,...,24437,24818,30156,33765,41780,38744,51147,55748,68297,73628
27,Tripura,143,124,145,188,204,259,300,393,492,...,2135,2466,2537,2764,2984,3301,3301,3835,5122,6084
28,Uttar Pradesh,2668,2942,3490,4116,5186,5331,6225,6901,8079,...,36681,38104,42086,69441,59124,59839,74983,87304,109185,121597
29,Uttarakhand,...,...,...,...,...,...,...,...,...,...,1110,3298,4848,6206,6366,7664,8516,9975,10841,14037
30,West Bengal,1552,1838,2072,2181,2738,2974,3508,3941,4279,...,26741,28079,27716,38421,33494,40587,41203,46644,63608,70922

In [5]:
ae.columns

Index(['States', '1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09(RE)',
       '2009-10(BE)'],
      dtype='object')

In [6]:
ae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   States       31 non-null     object
 1   1980-81      31 non-null     object
 2   1981-82      31 non-null     object
 3   1982-83      31 non-null     object
 4   1983-84      31 non-null     object
 5   1984-85      31 non-null     object
 6   1985-86      31 non-null     object
 7   1986-87      31 non-null     object
 8   1987-88      31 non-null     object
 9   1988-89      31 non-null     object
 10  1989-90      31 non-null     object
 11  1990-91      31 non-null     object
 12  1991-92      31 non-null     object
 13  1992-93      31 non-null     object
 14  1993-94      31 non-null     object
 15  1994-95      31 non-null     object
 16  1995-96      31 non-null     object
 17  1996-97      31 non-null     object
 18  1997-98      31 non-null     object
 19  1998-99      31 non-null     object
 20  1999-00      31 non-null     object
 21  2000-01      31 non-null     object
 22  2001-02      31 non-null     object
 23  2002-03      31 non-null     object
 24  2003-04      31 non-null     object
 25  2004-05      31 non-null     object
 26  2005-06      31 non-null     int64
 27  2006-07      31 non-null     int64
 28  2007-08      31 non-null     int64
 29  2008-09(RE)  31 non-null     int64
 30  2009-10(BE)  31 non-null     int64
dtypes: int64(5), object(26)
memory usage: 7.6+ KB

In [7]:
ae.isnull().sum()

States         0
1980-81        0
1981-82        0
1982-83        0
1983-84        0
1984-85        0
1985-86        0
1986-87        0
1987-88        0
1988-89        0
1989-90        0
1990-91        0
1991-92        0
1992-93        0
1993-94        0
1994-95        0
1995-96        0
1996-97        0
1997-98        0
1998-99        0
1999-00        0
2000-01        0
2001-02        0
2002-03        0
2003-04        0
2004-05        0
2005-06        0
2006-07        0
2007-08        0
2008-09(RE)    0
2009-10(BE)    0
dtype: int64

In [8]:
ae

,States,1980-81,1981-82,1982-83,1983-84,1984-85,1985-86,1986-87,1987-88,1988-89,...,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09(RE),2009-10(BE)
0,All States,22664,25169,28742,33541,39857,44867,51786,59872,67078,...,339835,368680,410249,514302,553428,561682,657280,752324,940423,1055778
1,Andhra Pradesh,1610,1831,1933,2588,3119,3413,4068,4294,5223,...,28119,31074,34373,40120,47153,48306,56648,74875,90228,100990
2,Arunachal Pradesh,...,...,...,...,...,...,251,348,326,...,1206,1381,1363,2192,2085,2437,2786,3068,4874,4571
3,Assam,758,618,691,942,1165,1207,1586,1794,1855,...,7631,8550,8936,10596,14745,12088,13485,15150,26389,34936
4,Bihar,1791,1871,1940,2144,2408,2966,3360,3914,4324,...,16946,14869,17752,19134,20055,22568,27136,31573,45508,47446
5,Chhattisgarh,...,...,...,...,...,...,...,...,...,...,1917,5624,6822,8951,9647,9725,11991,15029,20234,22820
6,Goa,...,...,...,...,...,...,255,258,284,...,1962,2353,2401,2416,2541,2849,3176,3559,4881,5719
7,Gujarat,1442,1565,1949,2178,2463,2625,3323,4089,4374,...,27175,25651,26921,32986,34900,34235,39200,42681,52800,57417
8,Haryana,607,696,917,960,1120,1315,1509,1663,1879,...,9159,10728,10582,15122,14442,14830,19638,22079,26826,32445
9,Himachal Pradesh,338,297,353,385,479,588,648,805,985,...,5315,5670,6616,8096,8034,8587,10091,10614,12931,13075
10,Jammu and Kashmir,428,548,504,620,747,889,989,1269,1404,...,7829,8050,8738,8817,11127,13467,13873,17046,18750,22378
11,Jharkhand,...,...,...,...,...,...,...,...,...,...,...,7934,9809,9738,11635,13417,15726,18360,20641,22992
12,Karnataka,1302,1409,1739,2002,2615,2894,3069,3437,3778,...,19664,21938,24074,29267,34246,34973,44085,48031,54178,61064
13,Kerala,855,1086,996,1322,1572,1969,2162,2251,2521,...,13149,13132,16967,19769,20276,21115,23159,28692,32990,36031
14,Madhya Pradesh,1590,1677,1938,2324,2522,2916,3349,3932,4596,...,16924,16960,18989,23923,29413,28975,30217,35265,42239,48735
15,Maharashtra,2613,3088,3585,4244,5063,5732,6412,6929,8102,...,42208,42480,47217,61034,72668,68677,75841,80240,102557,119762
16,Manipur,159,128,137,158,223,247,299,319,393,...,1381,2117,2157,2320,2600,2743,3626,3720,4742,4529
17,Meghalaya,102,101,117,139,161,188,230,264,318,...,1424,1395,1589,1770,2070,2008,2320,2771,3973,4582
18,Mizoram,...,...,...,...,...,177,55,306,287,...,1288,1334,1405,1826,1817,2172,2295,2559,3199,3487
19,NCT Delhi,...,...,...,...,...,...,...,...,...,...,7362,8631,10214,11720,12875,11142,12966,18160,21118,23043
20,Nagaland,164,132,166,215,202,272,344,436,457,...,1835,2019,1917,2384,2276,2809,3085,3563,4389,4777
21,Orissa,877,814,1191,997,1281,1410,1730,1990,2261,...,11047,12065,13267,15565,15886,15746,19346,22844,31375,32798
22,Puducherry,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2173,2387,2588,3681,4108
23,Punjab,817,996,1122,1434,1726,1963,1829,2623,2666,...,14111,15692,17337,20335,20994,20453,26297,26519,32812,35684
24,Rajasthan,1120,1360,1419,1585,1838,2116,2557,3384,3415,...,17494,18995,21542,25869,28907,27220,31856,37757,43459,49737
25,Sikkim,43,45,47,67,76,104,115,139,164,...,947,1909,2132,1477,2161,2146,2253,2820,3395,3533
26,Tamil Nadu,1686,2006,2292,2752,2950,3309,3612,4196,4617,...,24437,24818,30156,33765,41780,38744,51147,55748,68297,73628
27,Tripura,143,124,145,188,204,259,300,393,492,...,2135,2466,2537,2764,2984,3301,3301,3835,5122,6084
28,Uttar Pradesh,2668,2942,3490,4116,5186,5331,6225,6901,8079,...,36681,38104,42086,69441,59124,59839,74983,87304,109185,121597
29,Uttarakhand,...,...,...,...,...,...,...,...,...,...,1110,3298,4848,6206,6366,7664,8516,9975,10841,14037
30,West Bengal,1552,1838,2072,2181,2738,2974,3508,3941,4279,...,26741,28079,27716,38421,33494,40587,41203,46644,63608,70922

In [9]:
ae.iloc[10]

States         Jammu and Kashmir
1980-81                      428
1981-82                      548
1982-83                      504
1983-84                      620
1984-85                      747
1985-86                      889
1986-87                      989
1987-88                     1269
1988-89                     1404
1989-90                     1611
1990-91                     2021
1991-92                     2286
1992-93                     2321
1993-94                     2593
1994-95                     3339
1995-96                     3573
1996-97                     4021
1997-98                     4893
1998-99                     5849
1999-00                     7108
2000-01                     7829
2001-02                     8050
2002-03                     8738
2003-04                     8817
2004-05                    11127
2005-06                    13467
2006-07                    13873
2007-08                    17046
2008-09(RE)                18750
2009-10(BE)                22378
Name: 10, dtype: object

In [10]:
ae.iloc[10].unique()

array(['Jammu and Kashmir', '428', '548', '504', '620', '747', '889',
       '989', '1269', '1404', '1611', '2021', '2286', '2321', '2593',
       '3339', '3573', '4021', '4893', '5849', '7108', '7829', '8050',
       '8738', '8817', '11127', 13467, 13873, 17046, 18750, 22378],
      dtype=object)

In [11]:
cols=ae.select_dtypes(include=[np.object]).columns

C:\Users\91974\AppData\Local\Temp/ipykernel_34168/639841906.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cols=ae.select_dtypes(include=[np.object]).columns

In [12]:
cols

Index(['States', '1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05'],
      dtype='object')

In [13]:
##this methoed is used to convert unreadable format strings into readabel format



ae[cols]=ae[cols].apply(lambda x:x.str.normalize('NFKD').str.encode('ascii',errors='ignore').str.decode('utf-8'))

In [14]:
ae.replace({'...':0},inplace=True)

In [15]:
ae

,States,1980-81,1981-82,1982-83,1983-84,1984-85,1985-86,1986-87,1987-88,1988-89,...,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09(RE),2009-10(BE)
0,All States,22664,25169,28742,33541,39857,44867,51786,59872,67078,...,339835,368680,410249,514302,553428,561682,657280,752324,940423,1055778
1,Andhra Pradesh,1610,1831,1933,2588,3119,3413,4068,4294,5223,...,28119,31074,34373,40120,47153,48306,56648,74875,90228,100990
2,Arunachal Pradesh,0,0,0,0,0,0,251,348,326,...,1206,1381,1363,2192,2085,2437,2786,3068,4874,4571
3,Assam,758,618,691,942,1165,1207,1586,1794,1855,...,7631,8550,8936,10596,14745,12088,13485,15150,26389,34936
4,Bihar,1791,1871,1940,2144,2408,2966,3360,3914,4324,...,16946,14869,17752,19134,20055,22568,27136,31573,45508,47446
5,Chhattisgarh,0,0,0,0,0,0,0,0,0,...,1917,5624,6822,8951,9647,9725,11991,15029,20234,22820
6,Goa,0,0,0,0,0,0,255,258,284,...,1962,2353,2401,2416,2541,2849,3176,3559,4881,5719
7,Gujarat,1442,1565,1949,2178,2463,2625,3323,4089,4374,...,27175,25651,26921,32986,34900,34235,39200,42681,52800,57417
8,Haryana,607,696,917,960,1120,1315,1509,1663,1879,...,9159,10728,10582,15122,14442,14830,19638,22079,26826,32445
9,Himachal Pradesh,338,297,353,385,479,588,648,805,985,...,5315,5670,6616,8096,8034,8587,10091,10614,12931,13075
10,Jammu and Kashmir,428,548,504,620,747,889,989,1269,1404,...,7829,8050,8738,8817,11127,13467,13873,17046,18750,22378
11,Jharkhand,0,0,0,0,0,0,0,0,0,...,0,7934,9809,9738,11635,13417,15726,18360,20641,22992
12,Karnataka,1302,1409,1739,2002,2615,2894,3069,3437,3778,...,19664,21938,24074,29267,34246,34973,44085,48031,54178,61064
13,Kerala,855,1086,996,1322,1572,1969,2162,2251,2521,...,13149,13132,16967,19769,20276,21115,23159,28692,32990,36031
14,Madhya Pradesh,1590,1677,1938,2324,2522,2916,3349,3932,4596,...,16924,16960,18989,23923,29413,28975,30217,35265,42239,48735
15,Maharashtra,2613,3088,3585,4244,5063,5732,6412,6929,8102,...,42208,42480,47217,61034,72668,68677,75841,80240,102557,119762
16,Manipur,159,128,137,158,223,247,299,319,393,...,1381,2117,2157,2320,2600,2743,3626,3720,4742,4529
17,Meghalaya,102,101,117,139,161,188,230,264,318,...,1424,1395,1589,1770,2070,2008,2320,2771,3973,4582
18,Mizoram,0,0,0,0,0,177,55,306,287,...,1288,1334,1405,1826,1817,2172,2295,2559,3199,3487
19,NCT Delhi,0,0,0,0,0,0,0,0,0,...,7362,8631,10214,11720,12875,11142,12966,18160,21118,23043
20,Nagaland,164,132,166,215,202,272,344,436,457,...,1835,2019,1917,2384,2276,2809,3085,3563,4389,4777
21,Orissa,877,814,1191,997,1281,1410,1730,1990,2261,...,11047,12065,13267,15565,15886,15746,19346,22844,31375,32798
22,Puducherry,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2173,2387,2588,3681,4108
23,Punjab,817,996,1122,1434,1726,1963,1829,2623,2666,...,14111,15692,17337,20335,20994,20453,26297,26519,32812,35684
24,Rajasthan,1120,1360,1419,1585,1838,2116,2557,3384,3415,...,17494,18995,21542,25869,28907,27220,31856,37757,43459,49737
25,Sikkim,43,45,47,67,76,104,115,139,164,...,947,1909,2132,1477,2161,2146,2253,2820,3395,3533
26,Tamil Nadu,1686,2006,2292,2752,2950,3309,3612,4196,4617,...,24437,24818,30156,33765,41780,38744,51147,55748,68297,73628
27,Tripura,143,124,145,188,204,259,300,393,492,...,2135,2466,2537,2764,2984,3301,3301,3835,5122,6084
28,Uttar Pradesh,2668,2942,3490,4116,5186,5331,6225,6901,8079,...,36681,38104,42086,69441,59124,59839,74983,87304,109185,121597
29,Uttarakhand,0,0,0,0,0,0,0,0,0,...,1110,3298,4848,6206,6366,7664,8516,9975,10841,14037
30,West Bengal,1552,1838,2072,2181,2738,2974,3508,3941,4279,...,26741,28079,27716,38421,33494,40587,41203,46644,63608,70922

In [38]:
ae.iloc[0]

States         All States
1980-81             22664
1981-82             25169
1982-83             28742
1983-84             33541
1984-85             39857
1985-86             44867
1986-87             51786
1987-88             59872
1988-89             67078
1989-90             76782
1990-91             91088
1991-92            107929
1992-93            119335
1993-94            133849
1994-95            159147
1995-96            174632
1996-97            199254
1997-98            223924
1998-99            261419
1999-00            307977
2000-01            339835
2001-02            368680
2002-03            410249
2003-04            514302
2004-05            553428
2005-06            561682
2006-07            657280
2007-08            752324
2008-09(RE)        940423
2009-10(BE)       1055778
Name: 0, dtype: object

In [17]:
lst=[]
cols=ae.columns
print(cols)
for i in cols:               ###to convert to numerical
    if i!='State':
        lst.append(i)
print(lst)

Index(['States', '1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09(RE)',
       '2009-10(BE)'],
      dtype='object')
['States', '1980-81', '1981-82', '1982-83', '1983-84', '1984-85', '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91', '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97', '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09(RE)', '2009-10(BE)']

In [49]:
ae[lst]=ae[lst].apply(pd.to_numeric)

TypeError: Invalid object type at position 0

In [50]:
plt.figure(figsize=(30,10))
sns.heatmap(ae.corr(),annot=True,linewidth=1)

ValueError: zero-size array to reduction operation fmin which has no identity

In [48]:
plt.figure(figsize=(30,10))
sns.barplot(x='1980-81',y='States',data=ae)

TypeError: Neither the `x` nor `y` variable appears to be numeric.